

body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: #E4FFCF;
  margin: 0;
}

p {
  color: #5C3935;
    font-size: 35px;
    font-family: Draftside;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

h1{
  color: #5C3935;
    font-size: 72px;
    font-family: Draftside;
    font-weight: 400;
    margin-bottom: 10px;
}

.h2{
  color: #5C3935;
    font-size: 52px;
    font-family: Draftside;
    margin-bottom: 10px;
}

.divMLG{
  padding: 15px;
  margin-bottom: 300px;
  width: 896px;
  height: 210px;
  position:relative;
  background: #BBDEA8;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divemail{
  width: 496px; 
  height: 20px;  
  padding-left: 15px;
  padding-top: 14px; 
  padding-bottom: 14px; 
  background: #D9D9D9; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  position: fixed;
  top: 350px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.divsenha{
  width: 496px; 
  height: 20px; 
  padding-left: 15px;
  padding-top: 14px; 
  padding-bottom: 14px; 
  background: #D9D9D9; 
  border-radius: 10px; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  position: fixed;
  top: 420px;
  margin-bottom: 0px;
}

.divMLGpqn{
  padding: 15px;
  margin-bottom: 300px;
  width: 496px;
  height: 110px;
  position: fixed;
  background: #BBDEA8;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divB1{
  width: 300px; 
  height: 50px;
  display: flex;
  padding-left: 9px; 
  padding-right: 9px; 
  padding-top: 18px; 
  padding-bottom: 18px; 
  background: #51332F; 
  border-radius: 40px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  margin: 10px;
}

.divB2{
  width: 300px; 
  height: 50px; 
  display: flex;
  padding-left: 9px; 
  padding-right: 9px; 
  padding-top: 18px; 
  padding-bottom: 18px; 
  background: #E4FFCF; 
  border-radius: 40px; 
  outline: 3px #51332F solid; 
  outline-offset: -3px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex;
  margin: 10px;
}

.button-container{
  margin-top: -250px;
  display: flex;
  gap: 250px;
  cursor:pointer;
}

.p1{
    font-size: 18px;
    font-family: SF Pro;
    font-weight: 590;
    line-height: 18px;
    letter-spacing: 0.5px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: white;
    word-wrap: break-word;
}
 .p2{
  color: #51332F;
  font-size: 18px;
  font-family: SF Pro;
  font-weight: 590;
  line-height: 18px;
  word-wrap: break-word
 }

 .pemail{
  color: #808080;
  font-size: 17px;
  font-family: Abhaya Libre;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: auto;
 }

 .plogin{
  font-family: Abhaya Libre ExtraBold;
  padding: 0px;
  margin-bottom: 300px;
  width: 496px;
  height: 45px;
  position:relative;
  color: #3E2623;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

.divlogin{
  cursor:pointer;
  padding: 15px;
  margin-bottom: 300px;
  width: 496px;
  height: 30px;
  position: absolute;
  top: 500px;
  background: #699C5A;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

