<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
  <body>
        <div class="divMLGpqn">
                <h1 class="h2">My Little Garden</h1>
        </div>
        <div class="divemail">
            <p class="pemail">Email</p>
        </div>
        <div class="divsenha">
            <p class="pemail">Senha</p>
        </div>
        <div class="divlogin" onclick="window.location.href='/myGardens'">
          <p class="plogin">Login</p>
        </div>
  </body>
</html>
